<?xml version="1.0" encoding="utf-8"?>

<AssetPropertyGroups>

	<AssetPropertyGroup Name="Image" HasDimensions="true" HasOrientation="true" HasDuration="false">
		<FileExtensions>
			<FileExtension>jpg</FileExtension>
			<FileExtension>jpeg</FileExtension>
			<FileExtension>gif</FileExtension>
			<FileExtension>png</FileExtension>
			<FileExtension>tif</FileExtension>
			<FileExtension>tiff</FileExtension>
			<FileExtension>doc</FileExtension>
			<FileExtension>docx</FileExtension>
			<FileExtension>pot</FileExtension>
			<FileExtension>potx</FileExtension>
			<FileExtension>ppt</FileExtension>
			<FileExtension>pptx</FileExtension>
		</FileExtensions>
	</AssetPropertyGroup>

	<AssetPropertyGroup Name="Video" HasDimensions="true" HasOrientation="false" HasDuration="true">
		<FileExtensions>
			<FileExtension>mov</FileExtension>
			<FileExtension>avi</FileExtension>
			<FileExtension>mpg</FileExtension>
			<FileExtension>mpeg</FileExtension>
			<FileExtension>mp4</FileExtension>
			<FileExtension>m4v</FileExtension>
		</FileExtensions>
	</AssetPropertyGroup>

	<AssetPropertyGroup Name="Audio" HasDimensions="false" HasOrientation="false" HasDuration="true">
		<FileExtensions>
			<FileExtension>wav</FileExtension>
			<FileExtension>ai</FileExtension>
			<FileExtension>mp3</FileExtension>
		</FileExtensions>
	</AssetPropertyGroup>

</AssetPropertyGroups>