<?xml version="1.0" encoding="utf-8"?>

<!--
	This file controls which pages require SSL connections
	Note: Only ASPX pages will be checked
	
	Enter the relative path to a page to be secured (path must start with ~).
	To secure an entire folder, enter the path suffixed with an asterisk
-->

<SSL>
	<Paths>
		<Path>~/Login.aspx</Path>
		<Path>
			~/ChangePassword.aspx
		</Path>
		<Path>~/MyAccount/*</Path>
		<Path>~/Admin/*</Path>
	</Paths>
	<Exceptions>
		<Exception>~/NeatUpload/*</Exception>
	</Exceptions>
</SSL>