<?xml version="1.0" encoding="utf-8"?>

<MimeTypes>
	<MimeType ContentType="application/msword">
		<FileExtension value="doc" />
		<FileExtension value="docx" />
		<FileExtension value="dot" />
	</MimeType>
	<MimeType ContentType="image/gif">
		<FileExtension value="gif" />
	</MimeType>
	<MimeType ContentType="image/jpeg">
		<FileExtension value="jpe" />
		<FileExtension value="jpg" />
		<FileExtension value="jpeg" />
	</MimeType>
	<MimeType ContentType="image/x-ms-bmp">
		<FileExtension value="bmp" />
	</MimeType>
	<MimeType ContentType="text/html">
		<FileExtension value="htm" />
		<FileExtension value="html" />
	</MimeType>
	<MimeType ContentType="application/pdf">
		<FileExtension value="pdf" />
	</MimeType>
	<MimeType ContentType="application/rtf">
		<FileExtension value="rtf" />
	</MimeType>
	<MimeType ContentType="text/plain">
		<FileExtension value="txt" />
		<FileExtension value="log" />
		<FileExtension value="csv" />
	</MimeType>
	<MimeType ContentType="text/xml">
		<FileExtension value="xml" />
		<FileExtension value="xsl" />
	</MimeType>
	<MimeType ContentType="application/vnd.ms-excel">
		<FileExtension value="xla" />
		<FileExtension value="xlc" />
		<FileExtension value="xlm" />
		<FileExtension value="xls" />
		<FileExtension value="xlsx" />
		<FileExtension value="xlt" />
		<FileExtension value="xlw" />
	</MimeType>
	<MimeType ContentType="application/vnd.ms-powerpoint">
		<FileExtension value="ppt" />
		<FileExtension value="pptx" />
	</MimeType>
	<MimeType ContentType="application/zip">
		<FileExtension value="zip" />
	</MimeType>
	<MimeType ContentType="application/x-shockwave-flash">
		<FileExtension value="swf" />
	</MimeType>
	<MimeType ContentType="image/tiff">
		<FileExtension value="tif" />
	</MimeType>
	<MimeType ContentType="application/postscript">
		<FileExtension value="eps" />
	</MimeType>
	<MimeType ContentType="image/png">
		<FileExtension value="png" />
	</MimeType>
	<MimeType ContentType="video/mpeg">
		<FileExtension value="mp2" />
		<FileExtension value="mpa" />
		<FileExtension value="mpe" />
		<FileExtension value="mpg" />
		<FileExtension value="mpeg" />
	</MimeType>
	<MimeType ContentType="video/mp4">
		<FileExtension value="mp4" />
	</MimeType>
	<MimeType ContentType="video/avi">
		<FileExtension value="avi" />
	</MimeType>
	<MimeType ContentType="video/x-ms-wmv">
		<FileExtension value="wmv" />
	</MimeType>
	<MimeType ContentType="video/x-flv">
		<FileExtension value="flv" />
	</MimeType>
	<MimeType ContentType="video/x-m4v">
		<FileExtension value="m4v" />
	</MimeType>
	<MimeType ContentType="video/quicktime">
		<FileExtension value="mov" />
	</MimeType>
	<MimeType ContentType="audio/wav">
		<FileExtension value="wav" dateadded="2010-02-05T20:12:02" />
	</MimeType>
	<MimeType ContentType="audio/mpeg">
		<FileExtension value="mp3" dateadded="2010-02-05T20:12:30" />
	</MimeType>
	<MimeType ContentType="application/octet-stream">
		<FileExtension value="ram" dateadded="2010-02-05T20:15:15" />
	</MimeType>
</MimeTypes>