<?xml version="1.0" encoding="utf-8" ?>
<plugins>
	
	<!-- Example usage of generic command line plugin -->
	<plugin
		name="GenericCommandLinePlugin"
		type="FocusOPEN.APS.GenericCommandLinePlugin, FocusOPEN.APS"
		extensions="foo,bar"
		excludedextensions=""
		priority="1"
		processingpriority="2"
		enabled="false">
		<settings>
			<!--Preview Parameters-->
			<add key="PreviewCommandLine_App" value="c:\foo\bar.exe" />
			<add key="PreviewCommandLine_Args" value="-foo -bar -preview [INPUT] [HEIGHT]x[WIDTH] [OUTPUT]" />
			<add key="PreviewCommandLine_Extension" value="png" />
			<!--Thumbnail Parameters-->
			<add key="ThumbnailCommandLine_App" value="c:\foo\bar.exe" />
			<add key="ThumbnailCommandLine_Args" value="-foo -bar -thumbnail [INPUT] [HEIGHT]x[WIDTH] [OUTPUT]" />
			<add key="ThumbnailCommandLine_Extension" value="jpg" />
			<!--Test Params-->
			<add key="TestValue1" value="TestValue1" />
			<add key="TestValue2" value="TestValue2" />
			<add key="TestValue3" value="##TestValue2##\Test (TestValue2\Test)" />
		</settings>
	</plugin>
	
	<plugin
		name="ImageMagickProcessingPlugin"
		type="FocusOPEN.APS.ImageMagickProcessingPlugin, FocusOPEN.APS"
		extensions="gif,jpg,jpeg,png,tif,ps,psd,pdf"
		excludedextensions="ai"
		priority="1"
		processingpriority="2"
		enabled="true">
		<settings>
			<add key="ColorProfilesPath" value="E:\Clients\Daydream\FocusOPEN\3.0.OS\ColorProfiles" />
			<add key="ImageMagickPath" value="C:\Program Files (x86)\ImageMagick-6.5.6-Q16" />
			<add key="ImageMagickConvert" value="##ImageMagickPath##\convert.exe" />
			<add key="ImageMagickComposite" value="##ImageMagickPath##\composite.exe" />
			<add key="ImageMagickIdentify" value="##ImageMagickPath##\identify.exe" />
			<add key="ColorspaceProfileCMYK" value="##ColorProfilesPath##\CMYK\USWebCoatedSWOP.icc"/>
			<add key="ColorspaceProfileRGB" value="##ColorProfilesPath##\RGB\AdobeRGB1998.icc" />
		</settings>
	</plugin>
	
	<plugin
		name="NativeImageProcessingPlugin"
		type="FocusOPEN.APS.NativeImageProcessingPlugin, FocusOPEN.APS"
		extensions="gif,jpg,jpeg,png,tif"
		excludedextensions=""
		priority="2"
		processingpriority="1"
		enabled="false"
	/>
	
	<plugin
		name="VideoProcessingPlugin"
		type="FocusOPEN.APS.VideoProcessingPlugin, FocusOPEN.APS"
		extensions="avi,mpg,mpeg,mp4,mov"
		excludedextensions=""
		priority="1"
		processingpriority="4"
		enabled="true">
		<settings>
			<add key="FFmpegExecutablePath" value="D:\Utilities\FFmpeg\13981\FFmpeg.exe" />
			<add key="FLVToolExecutablePath" value="D:\Utilities\FLVTool\flvtool2.exe" />
			<add key="FFmpegPreviewArgs" value="-i [INPUT] -ar 22050 -ab 32 -vcodec flv -s [WIDTH]x[HEIGHT] [WATERMARK-ARGS] [OUTPUT]" />
			<add key="FFmpegThumbnailArgs" value="-i [INPUT] -s [WIDTH]x[HEIGHT] -ss 5 -f image2 -vframes 1 [OUTPUT]" />
			<add key="FFmpegWatermarkArgs" value="-vhook &quot;./vhook/imlib2.dll -x 0 -y 0 -i [WATERMARK]&quot;" />
		</settings>
	</plugin>
	
	<plugin
		name="AudioProcessingPlugin"
		type="FocusOPEN.APS.AudioProcessingPlugin, FocusOPEN.APS"
		extensions="mp3,wav,au,aif,aiff"
		excludedextensions=""
		priority="1"
		processingpriority="3"
		enabled="true">
		<settings>
			<add key="FFmpegExecutablePath" value="D:\Utilities\FFmpeg\13981\FFmpeg.exe" />
			<add key="CropDuration" value="30" />
		</settings>
	</plugin>
	
</plugins>