<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<neatUpload useHttpModule="true" maxNormalRequestLength="2097151" maxRequestLength="2097151" maxUploadRate="1000" defaultStateStoreProvider="InProcUploadStateStoreProvider" xmlns="http://www.brettle.com/neatupload/config/2008">
		<providers>
			<add name="InProcUploadStateStoreProvider" type="Brettle.Web.NeatUpload.InProcUploadStateStoreProvider,Brettle.Web.NeatUpload"/>
		</providers>
	</neatUpload>
	<connectionStrings/>
	<appSettings file="Config/AppSettings.config">
		<add key="AssetFinder.FullTextSearchedEnabled" value="true"/>
		<add key="AssetFinder.FileIndexingEnabled" value="true"/>
		<add key="AssetFinder.FileContentSearchingEnabled" value="false"/>
		<add key="ImageUtils.ImageMagickConvert" value="##ImageMagickFolder##\convert.exe"/>
		<add key="ImageUtils.ImageMagickComposite" value="##ImageMagickFolder##\composite.exe"/>
		<add key="ImageUtils.ImageMagickIdentify" value="##ImageMagickFolder##\identify.exe"/>
		<add key="ImageUtils.ColorspaceProfileCMYK" value="##ColorProfilesFolder##\CMYK\USWebCoatedSWOP.icc"/>
		<add key="ImageUtils.ColorspaceProfileRGB" value="##ColorProfilesFolder##\RGB\AdobeRGB1998.icc"/>
		<add key="Email.EngineEnabled" value="True"/>
		<add key="Email.MailServer" value="localhost"/>
		<add key="Error.FromEmail" value="errors@example.com"/>
		<add key="Error.Subject" value="FocusOPEN - An unhandled error occurred"/>
		<add key="SearchResults.ShowFiltersCount" value="100"/>
		<add key="LoginManager.BadLoginCountThreshold" value="5"/>
		<add key="LoginManager.BadLoginLockoutMinutes" value="5"/>
		<add key="UserManager.AccountExpiryDays" value="90"/>
		<add key="UserManager.PasswordExpiryDays" value="30"/>
		<add key="ZipAssetFiles" value="true"/>
		<add key="UseSSL" value="false"/>
		<add key="AllowPublicRegistration" value="true"/>
		<add key="IpAddressRestrictionEnabled" value="false"/>
		<add key="Licensing_SourceUrl" value="http://www.digitalassetmanager.com/"/>
		<add key="Licensing_AnchorText" value="Download source code (AGPL)"/>
		<add key="LightboxManager.MaxNumberCCEmails" value="20"/>
		<add key="NumberOfMetadataFields" value="50"/>
		<add key="MaxBulkDeleteAllowed" value="100"/>
		<add key="PasswordResetEnabled" value="true"/>
		<add key="MaxSelectableMetadataDepth" value="10"/>
		<add key="PluginsPath" value="~/Plugins/"/>
		<add key="RegisterUserRequiresKnownEmailFormat" value="InternalUsers"/>
		<add key="APIRestrictAccounts" value=""/>
		<add key="APIObeyIPAddressRestrictions" value="true"/>
		<add key="OverrideCallbackUrl" value=""/>
	</appSettings>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="aspajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="upload" namespace="Brettle.Web.NeatUpload" assembly="Brettle.Web.NeatUpload"/>
				<add tagPrefix="app" namespace="FocusOPEN.Website.Controls" assembly="FocusOPEN.Website"/>
				<add tagPrefix="app" src="~/Controls/HomepageFooter.ascx" tagName="HomepageFooter"/>
				<add tagPrefix="app" src="~/Controls/AssetWorkflowLog.ascx" tagName="AssetWorkflowLog"/>
				<add tagPrefix="app" src="~/Controls/AssetWorkflowUserList.ascx" tagName="AssetWorkflowUserList"/>
				<add tagPrefix="app" src="~/Controls/UserDetailsForm.ascx" tagName="UserDetailsForm"/>
				<add tagPrefix="app" src="~/Controls/PersistentCartLightbox.ascx" tagName="PersistentCartLightbox"/>
				<add tagPrefix="app" src="~/Controls/CategoryBreadcrumb.ascx" tagName="CategoryBreadcrumb"/>
				<add tagPrefix="app" src="~/Controls/Template/AdminNavigation.ascx" tagName="AdminNavigation"/>
				<add tagPrefix="app" src="~/Controls/Template/PageHeader.ascx" tagName="PageHeader"/>
				<add tagPrefix="app" src="~/Controls/Template/PageFooter.ascx" tagName="PageFooter"/>
				<add tagPrefix="app" src="~/Controls/Template/Nested/AssetButtons.ascx" tagName="AssetButtons"/>
				<add tagPrefix="app" src="~/Controls/Template/Nested/NavigationBar.ascx" tagName="NavigationBar"/>
				<add tagPrefix="app" src="~/Controls/Template/Nested/Footer.ascx" tagName="Footer"/>
				<add tagPrefix="app" src="~/Controls/Admin/HomepageImageEditor.ascx" tagName="HomepageImageEditor"/>
				<add tagPrefix="app" src="~/Controls/Admin/AssetList.ascx" tagName="AssetList"/>
			</controls>
		</pages>
		<compilation debug="true" defaultLanguage="c#"/>
		<httpHandlers>
			<!-- ASP.NET AJAX -->
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<!-- Page Redirectors -->
			<add verb="*" path="Go.ashx" type="FocusOPEN.Website.Components.Handlers.GoHandler, FocusOPEN.Website"/>
			<add verb="*" path="CategoryRedirector.ashx" type="FocusOPEN.Website.Components.Handlers.CategoryRedirectHandler, FocusOPEN.Website"/>
			<add verb="*" path="SearchRedirector.ashx" type="FocusOPEN.Website.Components.Handlers.SearchRedirectHandler, FocusOPEN.Website"/>
			<!-- Asset Files -->
			<add verb="*" path="GetZipDownload.ashx" type="FocusOPEN.Website.Components.Handlers.ZipDownloadHandler, FocusOPEN.Website"/>
			<add verb="*" path="AssetFile.*.ashx" type="FocusOPEN.Website.Components.Handlers.AssetFileHandler, FocusOPEN.Website"/>
			<add verb="*" path="AssetFileExt.*.ashx" type="FocusOPEN.Website.Components.Handlers.AssetFileExtHandler, FocusOPEN.Website"/>
			<add verb="*" path="AssetPreview.*.ashx" type="FocusOPEN.Website.Components.Handlers.AssetPreviewHandler, FocusOPEN.Website"/>
			<add verb="*" path="AssetThumbnail.*.ashx" type="FocusOPEN.Website.Components.Handlers.AssetThumbnailHandler, FocusOPEN.Website"/>
			<add verb="*" path="AttachedFile.*.ashx" type="FocusOPEN.Website.Components.Handlers.AttachedFileHandler, FocusOPEN.Website"/>
			<add verb="*" path="FileIcon.*.ashx" type="FocusOPEN.Website.Components.Handlers.AssetTypeFileExtensionHandler, FocusOPEN.Website"/>
			<add verb="*" path="AssetBitmapGroup.*.*.ashx" type="FocusOPEN.Website.Components.Handlers.AssetBitmapGroupHandler, FocusOPEN.Website"/>
			<!-- Homepage -->
			<add verb="*" path="HomepageImage.*.ashx" type="FocusOPEN.Website.Components.Handlers.HomepageImageHandler, FocusOPEN.Website"/>
			<!-- Management -->
			<add verb="*" path="InvalidateCache.ashx" type="FocusOPEN.Website.Components.Handlers.InvalidateCacheHandler, FocusOPEN.Website"/>
			<add verb="*" path="MetadataGetTextPreset.ashx" type="FocusOPEN.Website.Components.Handlers.MetadataGetTextPresetHandler, FocusOPEN.Website"/>
			<!--Callbacks -->
			<add verb="*" path="ProcessingCallback.ashx" type="FocusOPEN.Website.Components.Handlers.ProcessingCallbackHandler, FocusOPEN.Website" validate="false"/>
			<add verb="*" path="BitmapProcessingCallback.ashx" type="FocusOPEN.Website.Components.Handlers.BitmapProcessingCallbackHandler, FocusOPEN.Website" validate="false"/>
			<!-- API & Scripting -->
			<add verb="*" path="Scripts.*.ashx" type="FocusOPEN.Website.Components.Handlers.APIScriptHandler, FocusOPEN.Website"/>
		</httpHandlers>
		<httpModules>
			<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="SecurityModule" type="FocusOPEN.Website.Components.SecurityModule, FocusOPEN.Website"/>
			<add name="SessionEndModule" type="FocusOPEN.Website.Components.SessionEndModule, FocusOPEN.Website"/>
			<add name="SSLModule" type="FocusOPEN.Website.Components.SSLModule, FocusOPEN.Website"/>
		</httpModules>
		<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/Errors/HandledError.htm"/>
		<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="480" cookieless="false"/>
		<httpRuntime maxRequestLength="2097151" executionTimeout="28800" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="8" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648"/>
			</requestFiltering>
		</security>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="managedHandler"/>
			<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" preCondition="managedHandler"/>
		</modules>
		<handlers>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<client>
			<endpoint name="ProcessingService" address="net.tcp://localhost:5000/ProcessingService/" contract="APS.IProcessingService" binding="netTcpBinding" bindingConfiguration="customTcpBinding"/>
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="customTcpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<system.net>
		<defaultProxy>
			<proxy autoDetect="False"/>
		</defaultProxy>
	</system.net>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
