<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<appSettings>
		<add key="MaxNumberOfConcurrentJobs" value="2" />
		<add key="EXIFToolPath" value="D:\Utilities\EXIFTool\EXIFTool.exe" />
		<add key="DeleteGeneratedFilesAfterCallback" value="true" />
		<add key="TempPath" value="" />
	</appSettings>
	
	<system.web>
		<compilation debug="true" />
	</system.web>
	
	<!--Comment out this section when debugging WCF-->
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	
	<system.serviceModel>
		<services>
			<service name="FocusOPEN.APS.ProcessingService" behaviorConfiguration="ProcessingServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress ="net.tcp://localhost:5000/ProcessingService/"/>
					</baseAddresses>
				</host>
				<endpoint
					address=""
					contract="FocusOPEN.APS.IProcessingService"
					binding="netTcpBinding"
					bindingConfiguration="customTcpBinding"
				/>
				<endpoint
					address="mex"
					contract="IMetadataExchange"
					binding="netTcpBinding"
					bindingConfiguration="mexBinding"
				/>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding
					name="customTcpBinding"
					maxBufferPoolSize="2147483647"
					maxReceivedMessageSize="2147483647"
				/>
				<binding
					name="mexBinding">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ProcessingServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/FocusOPEN.APS/ProcessingService/" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
</configuration>