<?xml version="1.0" encoding="utf-8"?>

<AdminPages>
	<Section Id="Users" Name="Users">
		<Page Id="Users.UserList" Name="Manage Users" AllowedRoles="BrandAdministrator,SuperAdministrator" />
		<Page Id="Users.UserForm" Name="Edit User" AllowedRoles="BrandAdministrator,SuperAdministrator" VisibleOnNavigation="False" />
		<Page Id="Users.UserApproval" Name="Approve User" AllowedRoles="BrandAdministrator,SuperAdministrator" VisibleOnNavigation="False" />
		<Page Id="Users.ManageIpAddresses" Name="Manage IP Addresses" AllowedRoles="SuperAdministrator" />
		<Page Id="Users.ManageCompanies" Name="Manage Companies" AllowedRoles="SuperAdministrator" />
		<Page Id="Users.WorkflowList" Name="Manage Workflows" AllowedRoles="BrandAdministrator,SuperAdministrator">
			<Page Id="Users.WorkflowForm" Name="Add/Edit Workflow" VisibleOnNavigation="False" />
		</Page>
	</Section>
	<Section Id="Orders" Name="Orders">
		<Page Id="Orders.OrderList" Name="View Orders" AllowedRoles="UploadUser,BrandAdministrator,SuperAdministrator">
			<Page Id="Orders.OrderForm" Name="Order Approval" VisibleOnNavigation="False" />
		</Page>
	</Section>
	<Section Id="Assets" Name="Assets">
		<Page Id="Assets.AssetUpload" Name="Upload New Asset" AllowedRoles="UploadUser,BrandAdministrator,SuperAdministrator" />
		<Page Id="Assets.AssetList" Name="View Asset List" AllowedRoles="UploadUser,BrandAdministrator,SuperAdministrator" />
		<Page Id="Assets.AssetForm" Name="Edit Asset" AllowedRoles="UploadUser,BrandAdministrator,SuperAdministrator" VisibleOnNavigation="False" />
		<Page Id="Assets.AssetsBulkRenewal" Name="Renew Assets"  MinimumRole="UploadUser" VisibleOnNavigation="False"/>
		<Page Id="Assets.AssetsBulkDelegation" Name="Delegate Assets"  MinimumRole="SuperAdministrator" VisibleOnNavigation="False"/>
		<Page Id="Assets.AssetsBulkDelete" Name="Delete Assets"  MinimumRole="SuperAdministrator" VisibleOnNavigation="False"/>
		<Page Id="Assets.AssetsBulkChangeCategory" Name="Reassign Assets To Category"  MinimumRole="SuperAdministrator" VisibleOnNavigation="False"/>
		<Page Id="Assets.AssetsBulkChangePermissions" Name="Change Asset Permissions" MinimumRole="SuperAdministrator" VisibleOnNavigation="False"/>
		<Page Id="Assets.AssetsInSession" Name="Catalogue Assets" AllowedRoles="UploadUser,BrandAdministrator,SuperAdministrator" />
		<Page Id="Assets.AdjustAsset" Name="Adjust Asset" AllowedRoles="UploadUser,BrandAdministrator,SuperAdministrator" VisibleOnNavigation="False" />
		<Page Id="Workflow.Comment" Name="Comments" AllowedRoles="UploadUser,BrandAdministrator,SuperAdministrator" VisibleOnNavigation="False" />
		<Page Id="Workflow.Approve" Name="Asset Approval" AllowedRoles="UploadUser,BrandAdministrator,SuperAdministrator" VisibleOnNavigation="False" />
	</Section>
	<Section Id="Content" Name="Content">
		<Page Id="Content.ManageBrands" Name="Manage Brands" AllowedRoles="SuperAdministrator" />
		<Page Id="Content.ManageBrandsForm" Name="Manage Brand Detail" AllowedRoles="SuperAdministrator" VisibleOnNavigation="false" />
		<Page Id="Content.ManageHomepage" Name="Manage Homepage" AllowedRoles="BrandAdministrator,SuperAdministrator" />
		<Page Id="Content.ManageAssetTypes" Name="Manage Asset Types" AllowedRoles="SuperAdministrator" />
		<Page Id="Content.ManageFileExtensions" Name="Manage File Extensions" AllowedRoles="SuperAdministrator" />
		<Page Id="Content.ManageFileExtensionsForm" Name="Manage File Extensions" AllowedRoles="SuperAdministrator" VisibleOnNavigation="false" />
		<Page Id="Content.ManagePlugins" Name="Manage Plug-ins" AllowedRoles="SuperAdministrator" />
		<Page Id="Content.ManagePluginsForm" Name="Manage Plug-ins" AllowedRoles="SuperAdministrator" VisibleOnNavigation="false" />    
		<Page Id="Content.ManageMetadata" Name="Manage Metadata">
			<Page Id="Content.ManageCategories" Name="Categories" AllowedRoles="BrandAdministrator,SuperAdministrator" />
			<Page Id="Content.ManageMetadataValues" Name="Metadata Values" AllowedRoles="BrandAdministrator,SuperAdministrator" />
			<Page Id="Content.ManageMetadataValuesDetail" Name="Metadata Values" AllowedRoles="BrandAdministrator,SuperAdministrator" VisibleOnNavigation="false" />    
		</Page>
	</Section>
	<Section Id="Utils" Name="Utilities">
    <Page Id="Utils.ConfigureMetadataMain" Name="Configure Metadata">
        <!--<Page Id="Utils.ConfigureMetadata" Name="Configure Metadata Fields" AllowedRoles="BrandAdministrator,SuperAdministrator" />-->
        <Page Id="Utils.ConfigureMetadataForm" Name="Configure Metadata Fields" AllowedRoles="BrandAdministrator,SuperAdministrator" />
        <Page Id="Utils.ConfigureMetadata" Name="Configure Metadata" AllowedRoles="BrandAdministrator,SuperAdministrator" VisibleOnNavigation="false" />
        <Page Id="Utils.ConfigureMetadataSearchFilters" Name="Metadata Search Filters" AllowedRoles="BrandAdministrator,SuperAdministrator" />
    </Page>
		<Page Id="Utils.ManageAssetFilePaths" Name="Manage File Paths" AllowedRoles="SuperAdministrator" />
		<Page Id="Utils.Diagnostic" Name="Diagnostic Tools" Url="#" RestrictToEngineers="true">
			<Page Id="Utils.ViewSettings" Name="View Settings" AllowedRoles="SuperAdministrator" />
			<Page Id="Utils.LogViewer" Name="View Logs" AllowedRoles="SuperAdministrator" />
			<Page Id="Utils.ViewMimeTypes" Name="View Mime Types" AllowedRoles="SuperAdministrator" />
			<Page Id="Utils.DriveInfo" Name="Drive Info" AllowedRoles="SuperAdministrator" />
			<Page Id="Utils.APSInfo" Name="Asset Processing Server Info" AllowedRoles="SuperAdministrator" />
		</Page>
		<Page Id="Utils.SkinEditor" Name="Edit Skin" AllowedRoles="SuperAdministrator" VisibleOnNavigation="false" />
	</Section>
	<Section Id="Reports" Name="Reports">
		<Page Id="Reports.RegistrationLoginStats" Name="Registration &amp; Login Stats" AllowedRoles="BrandAdministrator,SuperAdministrator" />
		<Page Id="Reports.AssetStats" Name="Asset Statistics" VisibleOnNavigation="false" AllowedRoles="UploadUser,BrandAdministrator,SuperAdministrator" />
		<Page Id="Reports.AuditTrail" Name="Audit Trail" AllowedRoles="BrandAdministrator,SuperAdministrator" />
		<Page Id="Reports.AssetAuditTrail" Name="Asset Audit Trail" AllowedRoles="BrandAdministrator,SuperAdministrator" />
	</Section>
</AdminPages>