<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ConnectionString" value="Data Source=FILIPOVIC05\SQLDEV2005;Initial Catalog=FocusOPEN;User ID=focusopen;Password=focusopen;Connection Lifetime=10;" />
  <add key="DataFolder" value="C:\FocusOpen\Data\" />
  <add key="ImageMagickFolder" value="C:\Program Files\ImageMagick-6.6.3-Q16" />
  <add key="ColorProfilesFolder" value="C:\FocusOPEN\ColorProfiles\" />
  <add key="Email.BccEmail" value=" " />
  <add key="Error.AssetProcessingErrorRecipients" value="admin@example.com" />
  <add key="Error.ToEmail" value="admin@example.com" />
  <add key="Error.ShowRawErrors" value="false" />
  <add key="WatchedDrives" value="c:\" />
  <add key="RTMPStreamingServer" value="" />
  <add key="OrderHistoryAccess" value="None" />
  <add key="ScriptsPath" value="~/Scripts"/>
  <add key="APILogFolder" value=""/>
</appSettings>